* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}



/* Responsive Media queries  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .container {
    max-width: 100%;
    }
}

  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
    max-width: 540px;
    }
}

  /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
    max-width: 720px;
    }
}

  /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
    max-width: 960px;
    }
}

  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
    max-width: 1140px;
    }
}  



/* Global Classes */
.container  {
    padding: 15px 20px;
    margin-inline: auto;
}

i {
    display: block;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
    margin: 0;
}

.hero-btn {
    padding: 15px 20px;
    background-color: #ff3e66;
    border-radius: 50px;
    transition: all 0.3s;
    border:1px solid  #ff3e66;
    width: fit-content;
}

.hero-btn a {
    color: white;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: bold;
    white-space: nowrap;
    transition: all 0.3s;
}

.hero-btn:hover, 
.price-active {
    background-color: white;
}
.hero-btn:hover a,
.price-active a {
    color: #ff3e66;
}

.price-active:hover {
    background-color: #ff3e66;
}

.price-active:hover a {
    color: white;

}
.x-btn {
    position: absolute;
    top: -0;
    right: 0;
    
    width: 40px;
    height: 40px;
    border-radius: 11px;
    background: #2b70fa;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(115%, 15%);
}

.x-btn .fa-xmark {
    color: white;
    font-size: 1.4rem;
}


.d-none {
    display: none ;
    
}
.d-block {
    display: block ;
}

.visible {
    visibility: visible;
    opacity: 1;
    position: relative;
    
}
.hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 25px;

}

.red-label {
    color: #ff3e66;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.section  {
    margin-top: 50px;
}

.section-title {
    font-family: sans-serif;

}
.section-title h2 {
    font-size: 44px;
    line-height: 54px;
    color: #0e1133;

}

.section-title p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 11px;
    color: #505056;
}


.responsive-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-block: 70px;
    

}

.hero-card{
    border: 1px solid rgb(231, 231, 231);
    border-radius: 8px;
    padding: 25px;
    transition: 0.5s ease-in-out;
    font-family: sans-serif;
    width: 1005;

}

.hero-card:hover {
    box-shadow: 0px 14px 49px 12px #adadad52;
}

.hero-card:first-child:hover {
    border-top: 3px solid #2eacfc;
}
.hero-card:nth-child(2):hover {
    border-top: 3px solid #ff3e66;
}
.hero-card:nth-child(3):hover  {
    border-top: 3px solid #3578ff;
}
.hero-card:nth-child(4):hover {
    border-top: 3px solid #f67741 ;
}
.hero-card:nth-child(5):hover {
    border-top: 3px solid #6a88f7;
}
.hero-card:nth-child(6):hover {
    border-top: 3px solid #3ab094;
}


.icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 17px;
    background-color: #2eacfc;
    
}
.icon i {
color: white;
}

.responsive-row .content {
    
}

.responsive-row .content .main {
    margin-block: 30px;
    
}

.responsive-row .content h3 {
    font: 700 20px sans-serif;
    color: #0e1133;
    
}
.responsive-row .content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #505056;
    margin: 0px;
}
.responsive-row .content span { 
    display: block;
    cursor: pointer;
    transition: 0.3s;
    font-size: 500 14px;
    font-weight: 500;
    color: #505056;
    font-family: sans-serif;
    
}

.responsive-row .content i {
    transition: 0.7s;
}
.responsive-row .content span:hover {
    color: #ff3e66;
}
.responsive-row .content i {

}

.green {
    background-color:#3ab094 ;
    border-color:#3ab094 ;
}
.mouve {
    background-color:#6a88f7 ;
    border-color:#6a88f7 ;
}
.orange {
    background-color:#f67741 ;
}
.blue {
    background-color:#3578ff ;
    border-color:#3578ff ;
}
.red {
    background-color:#ff3e66 ;
    border-color: #ff3e66;
}

.scrl-btn {
    position:fixed;
    z-index:1000;
    right:10px;
    bottom: 10px;
    width: 40px;
    height:40px;
    background: #ff3e66;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ;
}

.scrl-btn i{
    color: #eee;
}



/* Start Header */
.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: sans-serif;
    z-index: 2;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.main-header .logo img {
    width: 120px;
    max-width: 100%;
}

.main-header > nav {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.main-header .main-menu{
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
}

.main-header .main-menu li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main-header .main-menu a {
    font: 600 14px sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #0e1133;
}

.main-header .main-menu i {
    font-size: .7rem;
}

.main-menu .main-menu_sub {
    position: absolute;
    top: 40px;
    padding: 20px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 15px 20px 10px rgba(0, 0, 0, 0.034);
    transition: all 0.3s ease-in-out;
}

.main-menu li:hover .main-menu_sub {
    opacity: 1;
    visibility: visible;
    top: 30px;
}

.main-menu .main-menu_sub li {
    transition:all  0.4s ease-in-out;
    margin-bottom: 15px;
}

.main-menu .main-menu_sub a {
    font: 15px inherit;
    color: #505056;
}

.main-menu .main-menu_sub li:hover {
    margin-left: 15px;
    color: #007bff;
}

.main-menu .main-menu_sub li:hover a {
    color: #007bff;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.toggle-menu {
    display: none;
}
.toggle-menu .fa-bars {
    font-size: 1.2rem;
    color: black;
}

.mob-main-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    z-index: 1;
    transition:  0.5s;
    opacity: 0;
    visibility: hidden;
}

.mob-main-menu .mob-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: -1;
}

.mob-main-menu .menu-items {
    height: 100vh;
    width: 290px;
    padding: 20px;
    background-color: white;
    position: relative;
    transition: left 0.5s ease-in-out;
}

.mob-main-menu .logo {
    text-align: center;
    padding-bottom: 30px;
}

.mob-main-menu nav ul {
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228);
}


.mob-main-menu nav li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.mob-main-menu .fa-angle-up {
    display: none;
}

.mob-main-menu nav li a {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #222;
    transition: all 0.3s ;
}
.mob-main-menu nav li i {
    color: #222;
    transition: all 0.3s;
}

.mob-main-menu nav li a:hover {
    color: #007bff;
}

.mob-main-menu .transparent-layer {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    height: 100vh;
    z-index: -1;
}

.mob-main-menu .sub-menu{
    position: absolute;
    top: 50px;
    width: calc(100% - 20px);
    margin-left: 20px;
    visibility: hidden;
    opacity: 1;
    transition: all 0.3s;
}

.mob-main-menu .sub-menu a{
    font-size: .9rem;
}

.mob-main-menu .social-icons {
    margin: 30px 0 60px 0;
}

.mob-main-menu .social-icons ul {
    display: flex;
    justify-content: space-between;
}

.mob-main-menu .social-icons ul li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding-top: 9px;
    border: 1px solid rgb(238, 238, 238);
}

.mob-main-menu .social-icons ul li i {
    color: #007bff;
}

.mob-menu-footer ul li {
    display: flex;
    gap: 18px;
    margin-bottom: 20px;
}

.mob-menu-footer ul li a {
    font-size: 15px;
    color: #505056;
}

.mob-menu-footer ul li i {
    color: #007bff;
    font-size: 15px;
}
/* End Header */


/* Start Landing */

.landing {
    position: relative;
    padding-top: 275px;
    padding-bottom: 120px;
    background-color: #eef1f6;
    z-index: 1;
    overflow: hidden;
}

.landing .row {
    display: flex;
    align-items: flex-end;
}

.landing-content {
    margin-top: 50px;
    max-width: 60%;
}

.landing-content h1 {
    font: 400 64px sans-serif;
    line-height: 70px;
    color: #0e1133;
}

.landing-content .bold {
    font-weight: 700;
}

.landing-content .sub-headline {
    display: block;
    margin-block: 20px;
    font: 18px sans-serif;
    color: #0e1133;
}

.landing-content form {
    position: relative;
    margin-bottom: 60px;
}

.landing-content form input {
    padding: 20px;
    border-radius: 50px;
    border: none;
    border-left: 2px solid #ff3e66;
    width: 280px;
    box-shadow: -3px 0px 0px 0px rgb(255 62 102 / 0%), 0px 30px 30px 0px rgb(14 17 51 / 10%);
}

.landing-content form i {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.landing-content form ::placeholder {
    font-size: 15px;
    padding-left: 15px;
}

.landing-content form .fa-arrow-right {
    left: 250px;
    color: #ff3e66;
}

.landing-content form .fa-envelope {
    left: 13px;
}

.feedback {
display: flex;
justify-content: flex-start;
align-items: center;
}

.feedback img {
    max-width: 100%;
}

.feedback > span {
    margin-left: 20px;
    font-size: 26px;
    font-weight: 900;
    color: #0e1133;
    width: 60px;
    display: inline-block;
    line-height: 16px;
    font-family: sans-serif;
}


.feedback > span span {
    font-size: 13px;
    font-weight: 500;
    color: #505056;
    display: inline-block;
    line-height: 13px;
}

.landing .bg-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 36%;
}

.landing .bg-image img {
    max-width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
/* End Landing */

/* Start section one */
.section-one .hero-btn {
    width: fit-content;
    display: inline-block;
    padding-left: auto;
}
.section-one p {
    display: inline-block;
}

.section-one .hero-btn {
    height: fit-content;
    font-family: sans-serif;
    background-color: white;
    border-color: rgb(219, 219, 219);
}

.section-one .hero-btn a {
    color: #222;
    transition: 0.3s;
}

.section-one .hero-btn:hover {
    background-color: #ff3e66;
}

.section-one .hero-btn i {
    transition: 0.8s;
}

.section-one .hero-btn:hover  a,
.section-one .hero-btn:hover i {
    color: white;
}
.section-one .section-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* End section one */


/* start section two */
.section-two {
    font-family: sans-serif;
    overflow: hidden;
}

.section-two .wrapper {
    padding: 60px;

}
.section-two .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #eef1f6;
    padding: 40px 30px;
}

.section-two .container > .content {
    max-width: 50%;
}

.sub-content h4 {
    font-size: 20px;
    font-weight: 700;
    color: #0e1133;
}
.sub-content p {
    font-size: 15px;
    margin-top: 8px;
    font-weight: 400;
    line-height: 24px;
    color: #505056;
}

.section-two .section-image {
    max-width: 50%;
    position: absolute;
    left: 0;
    top: -24px;
}
.section-two .section-image img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;

}


.section-two .section-title h2 {

}
.section-two .section-title p {
    font-size: 16px;

}

.section-two .cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 20px;
    gap: 20px;
}

.section-two .col {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section-two .cols .icon {
    width: 30px;
    height: 30px;
    padding-top: 8px;
    padding-right: 15px;
    padding-left: 7px;
    background-color: #31c369;
}

/* end section two */

/* Start section three */

.section-three {
    background-color: #0e1133;
    overflow: hidden;

}

.section-three .section-title {
    text-align: center;

}

.section-three .section-title h3 {
    color: #fff;
    font-size: 44px;
    line-height: 54px;
}
.section-three .section-title p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 11px;
    color: #fff;
    font-weight: 400;
}

.section-three .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 60px;
    font-family: sans-serif;
}

.section-three .content .item-card {
    padding: 33px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    transition: transform 0.4s ease-in ;
    margin-bottom: 40px;
}

.section-three .content .item-card.card-two span{
    background: #2eacfc;
    border-color: #15233d;
}
.section-three .content .item-card.card-three span{
    background: #33c956;
    border-color: #15262c;
}

.section-three .content .item-card:hover  {
    border-color: #ff3e66;
    transform: translatex(10px);
}

.section-three .content .item-card.card-two:hover  {
    border-color:#2eacfc ;
}
.section-three .content .item-card.card-three:hover  {
    border-color:#33c956 ;
}

.section-three .content .item-card span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ff3e66;
    border: 6px solid #2a182d;
    display: block;

}

.section-three .content .item-card h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;

}

.section-three .content .item-card p {
    font-size: 14px;
    opacity: 0.6;
    color: #fff;
    margin-top: 3px;

}

.section-three .img-sec img {
    max-width: 100%;
}
/* End section three */

.section-four {
    font-family: sans-serif;
    overflow: hidden;
}

.section-four img {
    max-width: 100%;
}
.section-four .statistics {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.section-four .card {
    padding: 50px;
    max-width: 100%;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 30px 40px 0px rgb(0 41 57 / 10%);
}

.section-four .card h5 {
    font-weight: 900;
    color: #0e1133;
    font-size: 26px;
}
.section-four .card p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #505056;
}

.section-four  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.section-four  .content h1 {
    font-weight: 900;
    color: #0e1133;
    margin: 0px;
    font-size: 30px;
    margin-block: 20px;
}
.section-four  .content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #505056;
    margin: 0px;

}

.section-four .demo {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.section-four .demo .thumb {
    position: relative;
    overflow: hidden;
}

.section-four .demo .thumb .btn {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.section-four .arrows  a {
    color: black;   
}

.section-four .demo .thumb .btn i {
    color: #ff3e66;
}

.section-four   .arrows {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}

.section-four   .arrows span {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(216, 216, 216);
    transition: 0.4s;
}

.section-four  .content .arrows span i {
    transition: 0.7s;
}

.section-four   .arrows span:hover {
    background-color: #ff3e66;
    
}

.section-four   .arrows span:hover i {
    color: white;
    
}

.slides-wrapper {
    max-width: 366px;
    min-width: 100%;
    overflow: hidden;
    display: flex;
}

.slides-wrapper #img-one {
    height: 100%;
    width: 100%;
    transition: all 0.9s;
}
.slides-wrapper #img-two {
    transition: all 0.9s;
    z-index: -1;
}

/* End Section four */

/* start section five */
.section-five {
    position: relative;
    background-image: url(./images/download-bg.png);
    font-family: sans-serif;
}

.section-five,
.section-five:after {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-five:after  {
    content: '';
    background-image: url(./images/download-thumb.png);
    position: absolute;
    right: 170px;
    top: 50%;
    z-index: 1;
    height: 100%;
    width: 860px;
    transform: translateY(-50%);
}

.section-five .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 100px;
    position: relative;
    z-index: 2;
}

.section-five .download-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.download-card {
    border-radius: 15px;
    padding:10px 20px;
    background-color:white;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    border: 1px solid ;
    transition:0.3s;
    margin-bottom: 20px;
    color: #0e1133;
}

.download-card:hover {
    background-color: #0e1133;
}

.download-card:hover i {
    color:white;
    transition: 0.9s;
}

.section-five .download-card:first-child {
    background-color: #0e1133;
    color: white;
}

.section-five .download-card:first-child:hover  {
    background-color: white;
}

.section-five .download-card:first-child:hover i,
.section-five .download-card:first-child:hover h5 ,
.section-five .download-card:first-child:hover h6{
    color: #0e1133;
}

.section-five .download-card:first-child:hover {
    border: 1px solid #0e1133;

}
.download-card i {
    color: inherit;
    font-size: 30px;
}

.section-five  span {
    font-size: 14px;
    font-weight: 600;
    color: #ff3e66;
}
.section-five .content h1 {
    font-size: 44px;
    line-height: 54px;
    margin-top: 20px;
    color: #0e1133;
    font-weight: 800;
}

.section-five .content h5 {
    font-size: 24px;
    display: block;
    line-height: 18px;
    transition: 0.9s;
}

.section-five .content   p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #505056;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section-five .download-card  h6 {
    font: 500 14px;
    margin-bottom: 10px ;
    transition: 0.3s;
}

.download-card:hover h6,
.download-card:hover h5 { 
    color: white;
}

/* End section five */

/* Start section six */
.section-six {

}

.yearly-offer , 
.monthly-offer {
transition: 0.7s;
}

.section-six .container {
    text-align: center;
    font-family: sans-serif;
}

.section-six .section-title .content p {
    margin-bottom: 40px;
}

.section-six .container .plans-wrapper {
    margin-block: 20px;
}
.section-six .container .plan-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 15px;
    padding: 8px 8px;
    border: 1px solid #505056;;
    border-radius: 50px;
    margin-inline: auto;
}

.section-six .container  .plan-selection a {
    border-radius: 50px;
    padding: 8px 15px;
    color:#505056;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s;
    outline: none;
}

.selected, 
.plan-selection .active {
    background-color: #ff3e66;
    color: white !important;
}
.unselected {
    color:#505056;
    background-color: white;
}

.plan-selection {
    margin-bottom: 41px;
}

.section-six .plan-cards {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.section-six .card {
    padding: 35px;
    transition: 0.3s;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    position: relative;
    flex: 0 0 30.333333%;
    max-width: 30.333333%;
}

.section-six .hero-btn {
    margin-top: 50px;
}
.section-six .card .content {
text-align: left;
}



.section-six .second-card:before {
    content: 'Most Popular';
    right: 0;
    position: absolute;
    width: 80px;
    padding: 5px;
    border: 1px solid;
    background-color: #007bff;
    color: white;
    font-size: 13px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.section-six .card:hover ,
.card-active {
    border-top: 3px solid #ff3e66 !important;
    box-shadow: 0px 40px 40px 0px rgb(14 17 51 / 10%);
}

.section-six .card .content p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 17px;
    color: #0e1133;
}

.section-six .card .content .price {
    display: flex;
    position: relative;
}
.section-six .card .content .price span {
    font-size: 44px;
    font-weight: 900;    
    color: #0e1133;
    display: block;
}



.section-six .card .content .price sup {
    font-size: 26px;
    font-weight: normal;
}

.section-six .card .content sub {
    font-weight: 400;
    line-height: 24px;
    color: #505056;
    font-size: 14px;
    align-self: end;
    padding-bottom: 10px;
}

.section-six .card  hr {
    margin-block: 20px;
    background-color: #505056;
    display: block;
}


.section-six .deal-row {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.section-six .deal-row h4 {
    font-size: 15px;
    font-weight: 600;
    color: #0e1133;
    margin-bottom: 10px;
    margin: 0;
    white-space: nowrap;
}






.section-six .deals i{
    height: 26px;
    width: 26px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    background: #eef4fe;
    color: #3172f5;
    display: block;
 }
/* End section six */
/* modifying Media queries styling */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 574.98px) {
.section-one {
    overflow: hidden;
}

}

  /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    
    .right-section .hero-btn {
        display: none;
    }

    .landing-content h1, 
    .landing-content .bold {
        font-size: 30px !important;
        line-height: 40px !important;
    }

    .responsive-row {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }

    .section-one .hero-btn a {
        font-size: 10px;
        white-space: normal;
    }

    .section-two .cols {
        flex-direction: column;
    }

    .section-two .col {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }

    .section-title h2 {
        font-size: 26px;
        line-height: 36px;
    } 

    .section-title p {
        font-size: 15px;
    }

}

  /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .right-section .hero-btn {
        padding: 15px 9px ;
    }

    .landing-content form input {
        width: 100%;
    }

    .landing-content {
        max-width:100%;
    }

    .landing-content form .fa-arrow-right {
        left: 89%;
    }

    .landing-content h1, 
    .landing-content .bold {
        font-size: 40px ;
        line-height: 50px ;
    }


    .section-one .section-title {
        flex-direction: column;
        align-items: center;
    }

    .section-title .content {
        text-align: center;
        margin-bottom: 20px;
    }

    .hero-card {
        text-align: center;
    }

    .section-one .icon {
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }

    .section-two .container > .content {
        max-width: 100% !important;
    }

    .section-four .card {
        min-width: 100%;
    }

    .section-four .right {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .section-five .content h1 {
        font-size: 30px;
        line-height: 40px;
    }    

    .section-six .card {
        flex: 50%;
        max-width: 50%;
    }

    .section-six .card {
        flex: 1 !important;
        max-width: 100% !important;
    }

    .section-six .plan-cards {
        flex-direction: column;
    }



}

  /* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .main-header .main-nav {
        display: none;
    }

    .toggle-menu {
        display: block;
    }

    .landing {
        padding-top: 125px;
    padding-bottom: 200px;
    }


    .landing-content h1,
    .landing-content .bold {
        font-size: 50px;
        line-height: 50px;
    }

    .section-two .container {
        flex-direction: column;
    }

    .section-two .section-image {
        display: none;
    }

    .section-two .container {
        padding: 40px 30px !important;
    }

    .section-four .demo {
        flex-direction: column;
    }

    .section-four .demo .thumb{
        flex-basis: 70%;
    }
    .interval-slides{
        flex-basis: 35%;
    }

    .section-four .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .section-five:after {
        display: none;
    }

    .section-six .card {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

  /* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    
    .landing .bg-image {
        width: 50%;
    }

    .section-two .section-title h2 {
        font-size: 32px ;
        line-height: 34px;
    }
    .section-two .container {
        padding: 21px 30px;
    }

    .section-two .container {
        flex-direction: column;
    }

    .section-two .container > .content {
        max-width: 70%;
    }

    .section-two .section-image {
        position: inherit;
    }

    .section-three .content {
        flex-direction: column;
    }

    .section-three .content {
        min-width: 85%;
    }

    .section-five:after {
        right: 0;
        width: 550px;
    }


}  


@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .landing .bg-image {
        width: 59%;
    }

    .landing-content {
        max-width: 45%;
    }

    .section-title h2 {
        font-size: 36px;
    line-height: 46px;
    }

    .section-one p {
        font-size: 15px;
    }

    .section-two .section-title h2 {
        font-size: 32px ;
        line-height: 34px;
    }

    .section-two .section-image {
        position: absolute;
        top: -36px;
        left: 0;
    }

}
